.layout-container {
  display: flex;
  min-height: 100vh;

  .main-container {
    flex: 1;
    padding: 10px;
    margin-left: 250px;
    transition: margin-left 0.3s;
    background-color: rgb(253, 251, 251);
  }

  &.collapsed {
    .main-container {
      margin-left: 60px;
    }
  }
}

app-sidebar {
  width: 250px;
  position: fixed;
  top: 70px;
  left: 0;
  height: calc(100vh - 70px);
  z-index: 1000;
  transition: width 0.3s;
  // background-color: #fff;

  &.collapsed {
    width: 60px;
  }
}
.app-footer {
  text-align: right !important;
  padding: 12px;
  font-size: 14px;
  background-color: #f8f8f8;
  color: #555;
  border-top: 1px solid #ddd;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}